/* Add the Hebrew font and additional styles */
body {
  font-family: "Arial Hebrew", Arial, sans-serif;
  margin: 20px;
  direction: rtl;
}

h1 {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #8D479A; /* Add desired color */
  font-size: 18px; /* Add desired font size */
}

textarea {
  width: 300px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  resize: vertical;
}

input[type="number"] {
  width: 30px; /* Adjust the width as needed */
}

.button {
  margin-top: 10px;
  padding: 10px 40px; /* Increase padding for larger button */
  background-color: #8D479A;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
  background-color: #F25F3C; /* Change to orange when hovered */
}

#result {
  margin-top: 20px;
}

.error {
  color: red;
}

.collapsible {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}

.arrow.collapsed {
  transform: rotate(-135deg);
}

.collapsible-content {
  display: none;
  margin-top: 10px;
}

.collapsible-content.show {
  display: block;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text-inputs textarea {
  margin-bottom: 10px;
  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 130px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.ltr-text {
  direction: ltr;
  text-align: left;
}

.copy-button {
  margin-top: 10px;
  border-radius: 5px;
}

.copy-button-container {
  margin-top: 10px;
}


.info-button {
  display: block;
  width: fit-content;
  margin-top: 10px;
  background-color: #CBC3E3;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.info-button:hover {
  background-color: #F25F3C; /* Change the background color to orange when hovered */
}

.info-button.clicked {
  background-color: #F25F3C;
}

.info-popup {
  display: none;
  position: fixed;
  background-color: rgba(249, 249, 249, 0.9);
  border: 1px solid #ddd;
  padding: 20px;
  z-index: 1;
  font-size: 16px;
  width: 50%;
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.info-popup p {
  margin: 0;
  margin-bottom: 10px;
}

.info-popup .close-button {
  display: block;
  width: fit-content;
  margin-top: 10px;
  background-color: lightblue;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #CBC3E3;
}

.info-button:hover + .info-popup {
  display: block;
}

/* Add a CSS rule for Hebrew text areas to override the general style */
textarea[placeholder="הכנס/י את הטקסט הנוסף"] {
  direction: rtl;
  text-align: right;
  font-family: 'MyFont', Arial, sans-serif;
}

